<!DOCTYPE html>
<html>
<head>
	<title>Login - AAKRITHI</title>
	<meta charset="utf-8">
	<script type="text/javascript" src='loginX.js'></script>
	<script type="text/javascript" src='login.js'></script>
</head>
<body >
<div>
	<p id="main">AAKRITHI</p>
	<div id="mainDiv">
		<table>
			<tr><td>Login Token:</td><td> <input type="text" id="UserLoginTN" class="infoTA">	</td></tr>
		</table>
		<button onclick="Login()">Login</button>
	
	</div>

</div>
</body>
<style>
		.infoTA {
		height: 20px;
		resize: none;
	}
	#mainDiv {
		position: absolute;
		left: 40vw;
		color: red;
		top: 40vh;
		font-weight: bold;
		/*background-color: aqua;*/
	}
	#main{
		position: absolute;
		top: 20vh;
		left: 45vw;
		font-size: 40px;
		color: red;
		font-style: oblique;
/*font-variant: titling-caps;*/
	font-weight: bold;
	}
</style>
</html>